<section>
    <h1 style="text-align: center">All Courses</h1>
    <p class="textt">
        Choosing the right stack for your software development process depends on the front-end framework or related tools you’d like to use. If a developer or team prefers to work with Angular, they may choose to work with the MEAN stack. Meanwhile, a developer or team who enjoys working with React will gravitate towards MERN. 
        
        Once a developer knows one of these 3 stacks, it won’t be too difficult to learn the others. All of these stacks are useful – it just depends on the type of project you’re taking on. 
        If a developer or team prefers to work with Angular, they may choose to work with the MEAN stack. Meanwhile, a developer or team who enjoys working with React will gravitate towards MERN. 

        MEAN stack vs. MERN stack vs. MEVN stack… which one is best? These stacks are all very similar, which is why we only teach one to Kenzie Software Engineering learners. Once a developer knows one of these 3 stacks, it won’t be too difficult to learn the others. All of these stacks are useful – it just depends on the type of project you’re taking on. 
        In short, one isn’t necessarily better than another.
    </p>
  <div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/mevn.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MEVN Stack</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/mean.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MEAN Stack</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Mern.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MERN Stack</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
<br>